* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    /* margin: 0; */
    /* padding: 30px; */
}


/* 
header {
    display: flex;
    gap: 50%;111111111
    list-style:1111111111 none;
    justify-con11111111111tent: space-between;
    align-items: flex-end;
    margin-left: 0%;1111111111
    background: #417eef;
    color: white;
    
   
} */


/* ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 14%;

} */

/* ul a{
    text-decoration: none;
    color: white;
} */

h2{
    font-size: 350%;
    font-weight: bolder;
    /* text-align: left; */
    margin: 100px;
}
p{
    text-align: left;
    font-weight: normal;
    /* font-size: 1.5em; */
    margin-bottom: 90%;
    /* justify-content: center; */
    /* position: relative; */
    
    margin: 100px;

}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

/* IMAGE */


/* IMAGE */
.image2 {
    position: relative;
    height: 20%;
}

/* IMAGE */
.image22 img {
    width: 100%;
    /* height: 90%; */
    object-fit: cover;
}


/* OVERLAY EXACT  DE L'IMAGE */
.image22::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.65) 40%,
        rgba(0,0,0,0.2) 70%,
        rgba(0,0,0,0) 100%
    );
    z-index: 1;
}

/* SECTION TEXTE */

#texte {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    max-width: 500px;
    /* align-items: center; */
    margin: 50px;
}
/* TITRE */

#texte h1 span {
    color: #417eef; /* jaune */
}
#texte h1 {
    font-size:280%;
    /* margin: 100px; */
}
#texte p {
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
} 


/* MENU DU SITE */
.fixation{
    /* background-color: white; */
    position: fixed;
    top: 4%;
    left: 10%;
    width: 100%;
    z-index: 1000;
    margin-left: 60%;
}

/*  */

/*  */
nav a{
    color: rgb(16, 16, 16);
    text-decoration: none;
    align-items: right;

}

nav ul{
    display: flex;
    gap: 4%;
    font-size: 110%;
    list-style: none;
    /* color: rgb(23, 23, 23); */
}

/* TEXTE */



/* BOUTON */
.btn {
    display: inline-block;
    background: #417eef;
    color: black;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* .btn1 {
    display: inline-block;
    background: #417eef;
    color: black;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    justify-content: right;
  
} */

/* a{ */
    /* color: #ddd; */
    /* font-size: 100%; */
/* } */

/* .icon {
    width: 50px;
    height: 50px;
    border: 2px solid #f5c518;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}

 *

/* SECTION 1    */
/* .image1 img{
    width: 100%;
    height: 100%;

} */
























/* SECTION PRODUITS */
.produits {
    width: 90%;
    /* max-width: 10p   x; */
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.produit {
    background-color: rgb(254, 254, 253);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    /* box-sizing: border-box; */
    width: 90%;
    height: 80%;
}

.produit img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    display: block;
    /* margin: left 20px; ; */
}

.produit h2 {
    /* text-align: left; */
    font-size: 20px;
    margin: 10px;
}

.produit p {    
    margin: 10px ;
}
/* FIN DE LA SECTION */


.title h3 {
    font-size: 289%;
    text-align: center;
    /* margin: 100%; */
}
/* DESCRIPTION */

/* 2e SECTION */
.imagee img{
    display: flex;
    border-radius:19px;
    /* background-color: rgb(255, 255, 255); */
    /* margin: 19px; */
    /* padding: 12px; */
    width: 95%;
    /* height: 900%; */
    margin-left: 5%;
}

#section2{
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* TEXTE SECTION 2 */
.Equipement h2{
    font-size: 330%;
    /* margin:0 0 10px 0; */
    /* text-align: center; */
    /* padding: 20%; */
}
.Equipement p{
    font-size: 155%;
    /* font-weight: none; */
    margin-top: 2%;
    margin-right: 20px;
    /* margin-left: 20px; */
    /* margin: 0; */
}
/*  */


/* 3e Section */
h4{
    text-align: center;
    font-size: 370%;
}
#section3{
    display: flex;
    gap: 3%;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
    /* background: white; */
    /* border-radius: 10%; */
    height: 40%;
    width: 90%;
}
#section3:last-child{
    border-right: none;
}
.icone{
    border-right: 1px solid rgb(168, 163, 163);
    /* background: olive; */
    margin-left: 1%;
}
img{
    width: 100%;
    
    height: 75%;
    /* margin-left:15%; */
}

/* SECTION 4 */

/* Footer */

footer{
    width: 100%;
    height: 100%;
    background:#0a0a0a;
    color: white;
}
.footer1{
    display: flex;
    gap: 100px;
    align-items: left;
    justify-content: left;
    padding: 15px;
    margin-left: 30px;
}


/* Reseaux socio */
.social h6 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    /* margin-right:20%; */
}

/* Conteneur des icônes */
.icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background: #1a1a2e;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

/* Couleurs spécifiques */
.icons a:nth-child(1) { background: #1877f2; } /* Facebook */
.icons a:nth-child(2) { background: #e4405f; } /* Instagram */
.icons a:nth-child(3) { background: #25d366; } /* WhatsApp */
.icons a:nth-child(4) { background: #000; } 
/* .icons a:nth-child(5) { background: #000; }     TikTok */

/* Hover effet */
.icons a:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}

.footer1 a{
    text-decoration: none;
    color: white;
}
.footer1_3 i{
  box-shadow: #ddd;
}


.h{
    text-align: center;
    color: #9b9999;

}
/* h4{ */
  /* border-bottom: 3px solid #f5c518; */
  /* display: inline-block; */
  /* padding-bottom: 7px; */

/* } */
h6 a{
  text-decoration: none;
  color: #9b9999;
}


/* PAGE BOUTIQUE */

.title_boutique .h1{
    text-align: center;
    font-size: 300%;
    margin-top: 20px;
}



